test/expected.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="note">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="to" />
                <xs:element ref="from" />
                <xs:element ref="heading" />
                <xs:element ref="body" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="to">
    </xs:element>

    <xs:element name="from">
    </xs:element>

    <xs:element name="heading">
    </xs:element>

    <xs:element name="body">
    </xs:element>

</xs:schema>

